* {
    -fx-font-family: "Consolas", "Courier New", monospace;
}

.card {
    -fx-background-color: white;
    -fx-border-radius: 5;
    -fx-background-radius: 6;
}

.leader {
    -fx-background-color: #600b0b;
    -fx-border-width: 3;
    -fx-border-color: yellow;
}

.name, .stat, .type {
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-pref-width: 100;
}

.name {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.stat {
    -fx-font-size: 16px;
}

.type {
    -fx-font-size: 18px;
}

.leader-text {
    -fx-text-fill: white;
}

.dungeon {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.user-panel .card:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.dungeon-simple {
    -fx-background-color: #26862450;
} .dungeon-easy {
    -fx-background-color: #ffb60050;
} .dungeon-hard {
    -fx-background-color: rgba(152, 0, 0, 0.31);
}

.dungeonName {
    -fx-text-fill: white;
    -fx-pref-width: 300;
    -fx-font-size: 20px;
    -fx-alignment: center;
    -fx-font-weight: bold;
}

.selected {
    -fx-border-color: #ffffff80;
    -fx-border-width: 5;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.deck {
    -fx-background-color: #ffffff20;
    -fx-background-radius: 10;
}

.fight-button {
    -fx-background-color: red;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
} .fight-button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.combat {
    -fx-background-color: #222222;
}

.cardHolder {
    -fx-background-color: #ffffff30;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.tooltip {
    -fx-font-size: 14px;
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-padding: 10;
    -fx-background-radius: 5;
    -fx-show-delay: 100ms;
}